[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Web3
Cython = ">=0.29.32"
web3 = ">=5.30.0"

# Blockchain
py-solc-x = ">=1.1.1"

# Ecnryption
cryptography = ">=37.0.4"

# Axolotl
axolpy-lib = ">=1.4.8"

# Others
prompt_toolkit = ">=3.0.30"

# IDE
autopep8 = ">=1.7.0"

[dev-packages]

[requires]
python_version = "3.10"
